<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  CMS

<br><br>
<%= link_to "Log Out", session_path("current"), method: "delete" %> 
</body>
</html>