<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>C4ISR</title>
  # <%= javascript_include_tag('application')%>


   <!-- Libraries CSS Files -->


   <!-- >..< -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css"> 

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sticky-js/1.2.0/sticky.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

  <!-- <link rel="stylesheet" href="css/animate.css"> -->


  <!-- <script src="js/wow.min.js"></script>
   -->          

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
   <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
  <script>
   //paste this code under the head tag or in a separate js file.
    // Wait for window load
    $(window).load(function() {
      // Animate loader off screen
      $(".cssload-container").fadeOut("slow");;
    });
  </script>

   <script> new WOW().init();</script>

    <!-- Main Stylesheet File -->
    <%= stylesheet_link_tag ('style') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.css"></script>

</head>
<body>

<%= image_tag("jared-arango-1-mh6U3qeGQ-unsplash.jpg") %> -->

  <section id="about">
    <div class="container wow fadeInUp">
      <div class="row">
C4ISR – Command, Control, Communications, Intelligence, Surveillance, and Reconnaissance          <div class="section-title-divider"></div>
          <div class="col-md-12 service-item">
            <p class="about-title main">farSight personnel have decades of experience in the design, integration, test, and operations of advanced and special application C4ISR systems. farSight has practical C4ISR experience ranging from capability concept specification, through assembly, integration, and test, to deployed operations. farSight-developed systems are operating in all mission domains from fixed and ground-mobile, through airborne UAV and manned platforms, to space-based systems. farSight personnel have expertise in delay/disruption tolerance techniques for disadvantaged networks as well as RF and signal design for low probability of intercept communications. Specific areas of expertise include:
            </p>
          </div>
        </div>  
      </div>
      <div>
        <div class="col-md-12 wow fadeInRight" data-wow-duration=".75s" data-wow-delay=".15s">
          <p class="about-title" style="padding: 10px 0 0 30px; text-align: left; color: white; font-size: 250%;">farSight enables vital missions in:
          </p>
          <div style="font-size: 175%; text-align: left; padding-left: 30%;">
             <ul>
               <li>Delay / Disruption Tolerant Networking (DTN)</li>
                <br>
               <li>Assured Position, Navigation, and Timing (PNT)</li>
                <br>
               <li>Disadvantaged User Communications</li>
                <br>
               <li>ISR collection, processing, and dissemination architectures and systems including SIGINT, ELINT, MASINT, and IMINT</li>
                <br>
               <li>LPI/LPD Communications System and Signal Design</li>
                <br>
               <li>High Assurance Communications</li>
                <br>
               <li>Fixed, Ground-Mobile, Airborne, and Space-Based C4ISR Architecture and System Design, Development, Test, and Operation</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>


<!-- </div>  -->


 




</body>
</html>