<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Services</title>
  # <%= javascript_include_tag('application')%>


   <!-- Libraries CSS Files -->


   <!-- >..< -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css"> 

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sticky-js/1.2.0/sticky.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

  <!-- <link rel="stylesheet" href="css/animate.css"> -->


  <!-- <script src="js/wow.min.js"></script>
   -->          

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
   <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
  <script>
   //paste this code under the head tag or in a separate js file.
    // Wait for window load
    $(window).load(function() {
      // Animate loader off screen
      $(".cssload-container").fadeOut("slow");;
    });
  </script>

   <script> new WOW().init();</script>

    <!-- Main Stylesheet File -->
    <%= stylesheet_link_tag ('style') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.css"></script>

</head>
<body>

  <h1>THIS IS THE C4ISR PAGE</h1>

  <!-- cloudinary generated images -->

  
  <!-- <picture>
  <img
  sizes="(max-width: 2400px) 100vw, 2400px"
  srcset="
  ISS_wppa29_c_scale,w_200.jpg 200w,
  ISS_wppa29_c_scale,w_524.jpg 524w,
  ISS_wppa29_c_scale,w_740.jpg 740w,
  ISS_wppa29_c_scale,w_900.jpg 900w,
  ISS_wppa29_c_scale,w_1041.jpg 1041w,
  ISS_wppa29_c_scale,w_1166.jpg 1166w,
  ISS_wppa29_c_scale,w_1285.jpg 1285w,
  ISS_wppa29_c_scale,w_1402.jpg 1402w,
  ISS_wppa29_c_scale,w_1515.jpg 1515w,
  ISS_wppa29_c_scale,w_1622.jpg 1622w,
  ISS_wppa29_c_scale,w_1725.jpg 1725w,
  ISS_wppa29_c_scale,w_1825.jpg 1825w,
  ISS_wppa29_c_scale,w_1918.jpg 1918w,
  ISS_wppa29_c_scale,w_2016.jpg 2016w,
  ISS_wppa29_c_scale,w_2113.jpg 2113w,
  ISS_wppa29_c_scale,w_2199.jpg 2199w,
  ISS_wppa29_c_scale,w_2294.jpg 2294w,
  ISS_wppa29_c_scale,w_2382.jpg 2382w,
  ISS_wppa29_c_scale,w_2400.jpg 2400w"
  src="ISS_wppa29_c_scale,w_2400.jpg"
  alt="">
  </picture> -->

<!-- <div class="background">
<%= image_tag("jared-arango-1-mh6U3qeGQ-unsplash.jpg") %> -->

  <section id="about">
    <div class="container wow fadeInUp">
      <div class="row">
          <h3 class="section-title">Services</h3>
          <div class="section-title-divider"></div>
          <div class="col-md-12 service-item">
            <p class="about-title main">farSight Technologies is a dedicated team of experienced engineers, technologists, and operations experts. Decades of hands-on and in-the-field experience with partnerships spanning academia, research institutes, and government allows farSight to bring just the right skills to solving our clients’ challenges.
            </p>
          </div>
        </div>  
      </div>
      <div>
        <div class="col-md-12 wow fadeInRight" data-wow-duration=".75s" data-wow-delay=".15s">
          <p class="about-title" style="padding: 10px 0 0 30px; text-align: left; color: white; font-size: 250%;">farSight enables vital missions in:
          </p>
          <div style="font-size: 200%; text-align: left; padding-left: 55%;">
             <ul>
               <li>Space Exploration</li>
               <li>Homeland Security</li>
               <li>Defense</li>
               <li>National Security and Intelligence</li>
               <li>Disaster Preparation and Recovery</li>
               <li>Disadvantaged communication networks</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>


<!-- </div>  -->


 




</body>
</html>