<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cyber</title>
  <%= javascript_include_tag('application')%>


   <!-- Libraries CSS Files -->


   <!-- >..< -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css"> 

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sticky-js/1.2.0/sticky.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

  <!-- <link rel="stylesheet" href="css/animate.css"> -->


  <!-- <script src="js/wow.min.js"></script>
   -->          

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
   <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
  <script>
   //paste this code under the head tag or in a separate js file.
    // Wait for window load
    $(window).load(function() {
      // Animate loader off screen
      $(".cssload-container").fadeOut("slow");;
    });
  </script>

   <script> new WOW().init();</script>

    <!-- Main Stylesheet File -->
    <%= stylesheet_link_tag ('style') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.css"></script>

</head>
<body>


    <section id="servicePage">  
      <div id="servicePage">
    <div class="container wow fadeInUp">
      <div class="row">
          <h3 class="section-title">Cyber / Information Assurance</h3>
          <div class="section-title-divider"></div>
          <div class="col-md-12">
            <div class="row blurb" style="font-size: 1.5em;">
            <p>
              farSight personnel possess expertise in offensive and defensive cyber as well as risk assessment methodologies. Additionally, farSight personnel are intimately familiar with Federal requirements and policies regarding cybersecurity and information assurance. Whether its performing upfront risk assessments or red-teaming an operating network, farSight is ready to support your mission. Specific areas of expertise include:
            </p>
            </div>
          </div>
        </div>  
      </div>
      <div>
      <div id="scroll-container">
        <div class="wrap-container" id="wrap-scroll">
          <ul id="ul-scroll">
            <li class="active">
              <span class="item">
                Defensive Cyber and Computer Network Operations (CNO)
              </span>
            </li>
            <li>
              <span class="item">
      Red-Team and Penetration Testing        </span>
            </li>
            <li>
              <span class="item">
      Threat and Vulnerability Analysis        </span>
            </li>
            <li>
              <span class="item" style="font-size: 13px;">
                Secure network design, integration, testing, & operation (including National Security Systems)
              </span>
            </li>
            <li>
              <span class="item" style="font-size: 13px;">
      Federal cyber and information protection, interpretation, and compliance        </span>
            </li>
            <li>
              <span class="item">
                FIPS policies, CNSS instructions, FISMA and HIPAA
              </span>
            </li>
          </ul>
        </div>
      </div>
      <svg>
        <defs>
          <linearGradient id="gradient" x1="0" y1="0%" x2 ="0" y2="50%">
            <stop stop-color="black" offset="0"/>
            <stop stop-color="white" offset="1"/>
          </linearGradient>

          <mask id="masking" maskUnits="objectBoundingBox" maskContentUnits="objectBoundingBox">
            <rect y="0" width="1" height="1" fill="url(#gradient)" />
          </mask>
        </defs>
      </svg>

        </div>
      </div>
    </div>
  </div>
  </div>
</section>


 

<script>
  var scrollW = document.getElementById("wrap-scroll");
  var scrollUl = document.getElementById("ul-scroll");
  var itemsScrolled,
      itemsMax,
      cloned = false;

  var listOpts = {
    itemCount: null,
    itemHeight: null,
    items: [],
  };

  function scrollWrap () {
    
    itemsScrolled = Math.ceil( (this.scrollTop + listOpts.itemHeight / 2 ) / listOpts.itemHeight);
   
    if (this.scrollTop < 1) {
      itemsScrolled = 0;
    }
       
    listOpts.items.forEach(function (ele) {
      ele.classList.remove("active");
    })
    
    if (itemsScrolled < listOpts.items.length) {
      listOpts.items[itemsScrolled].classList.add("active");
    }
    
    if (itemsScrolled > listOpts.items.length - 3) {
      
      var node;
      for ( _x = 0; _x <= itemsMax - 1; _x++ ) {
        
        node = listOpts.items[_x];
        
        if ( !cloned ) {
          node = listOpts.items[_x].cloneNode(true);
        }
              
        scrollUl.appendChild(node);
      }
      
      initItems(cloned);
      cloned = true; 
      itemsScrolled = 0;
      
    }
  }

  function initItems (scrollSmooth) {
    
    listOpts.items = [].slice.call(scrollUl.querySelectorAll("li"));
    listOpts.itemHeight = listOpts.items[0].clientHeight;
    listOpts.itemCount = listOpts.items.length;
    
    if (!itemsMax) {
      itemsMax = listOpts.itemCount;
    }
    
    if (scrollSmooth) {
      var seamLessScrollPoint = ((itemsMax - 3) * listOpts.itemHeight);
      scrollW.scrollTop = seamLessScrollPoint;
    }      
    
  }

  document.addEventListener("DOMContentLoaded", function(event) {
    initItems();
    scrollW.onscroll = scrollWrap;
  });
</script>


</body>
</html>