<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Services</title>
</head>
<body>
  <style type="text/css">
    
    body {
    }

    div.background {
      background-repeat: no-repeat;
      background-position: center top;
      max-width: 100%;
      height: auto;
    }
    

  </style>



  <!-- cloudinary generated images -->

  
  <!-- <picture>
  <img
  sizes="(max-width: 2400px) 100vw, 2400px"
  srcset="
  ISS_wppa29_c_scale,w_200.jpg 200w,
  ISS_wppa29_c_scale,w_524.jpg 524w,
  ISS_wppa29_c_scale,w_740.jpg 740w,
  ISS_wppa29_c_scale,w_900.jpg 900w,
  ISS_wppa29_c_scale,w_1041.jpg 1041w,
  ISS_wppa29_c_scale,w_1166.jpg 1166w,
  ISS_wppa29_c_scale,w_1285.jpg 1285w,
  ISS_wppa29_c_scale,w_1402.jpg 1402w,
  ISS_wppa29_c_scale,w_1515.jpg 1515w,
  ISS_wppa29_c_scale,w_1622.jpg 1622w,
  ISS_wppa29_c_scale,w_1725.jpg 1725w,
  ISS_wppa29_c_scale,w_1825.jpg 1825w,
  ISS_wppa29_c_scale,w_1918.jpg 1918w,
  ISS_wppa29_c_scale,w_2016.jpg 2016w,
  ISS_wppa29_c_scale,w_2113.jpg 2113w,
  ISS_wppa29_c_scale,w_2199.jpg 2199w,
  ISS_wppa29_c_scale,w_2294.jpg 2294w,
  ISS_wppa29_c_scale,w_2382.jpg 2382w,
  ISS_wppa29_c_scale,w_2400.jpg 2400w"
  src="ISS_wppa29_c_scale,w_2400.jpg"
  alt="">
  </picture> -->

<div class="background">
<%= image_tag("jared-arango-1-mh6U3qeGQ-unsplash.jpg") %>

<h1>Welcome to the Services Page!</h1>

</div> 


 




</body>
</html>